dev:
  MYSQL_HOST: 'HOST HERE'
  MYSQL_USER: 'USER HERE'
  MYSQL_PASS: 'PASSWORD HERE'
  MYSQL_DB: 'DATABASE NAME HERE'

prod:
  MYSQL_HOST: 'HOST HERE'
  MYSQL_USER: 'USER HERE'
  MYSQL_PASS: 'PASSWORD HERE'
  MYSQL_DB: 'DATABASE NAME HERE'